body {
    background-color: #f5f5f5;
}

@media (min-width: 900px) {
    body {
        position: absolute;

        left: 0;
        width: 100%;
    }

    .vertical-center {
        margin-left: auto;
        margin-right: auto;

        width: 900px;

        position: relative;
        top: 50%;
        transform: translateY(100%);
    }
}

@media (max-width: 900px) {
    .nav {
        display: block;
    }

    .vertical-center {
        text-align: center;
        top: 50%;
        transform: translateY(100%);
    }
}

button {
    border-radius: 5em;
    margin: 3px;
}

.card {
    background-color: #FAFAFA;
}

.title, .subtitle {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.subtitle {
    text-align: center;
    padding-top: 0;
    margin-top: 0;
}

.back {
    color: #000;
}